/*-- scss:defaults --*/
$font-family-base: "Century Gothic", sans-serif;


/*-- scss:rules --*/

.myLink {
    text-decoration: none;
    color: green;
}

.myLink:hover {
    text-decoration: underline;
    color: darkgreen;
}

#link1 {
    font-size: 18px;
}

.hugeLink a {
    font-size: 40px;
}

.imageContainer .myLogo {
    width: 200px;
    height: auto;
}

.myLogo {
    width: 100px;
}